*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section{
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}
.seq{
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    width: 75px;
    height: 75px;
}

.ch1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.row1{
    border: 1px solid black;
    width: 400px;
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.row2{
    border: 1px solid black;
    width: 400px;
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.row3{
    border: 1px solid black;
    width: 400px;
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 30px;
}

.ch2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.col3{
    border: 1px solid black;
    width: 150px;
    height: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.col31{
    border: 1px solid black;
    width: 150px;
    height: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.col32{
    border: 1px solid black;
    width: 150px;
    height: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 30px;
}